In [98]:
import pandas as pd

In [99]:
data = pd.read_csv('iris.csv')
data

    sepal.length sepal.width petal.length  petal.width    variety
0            5.1         3.5          1.4          0.2     Setosa
1            NaN           3          1.4          0.2     Setosa
2            NaN         NaN          NaN          NaN        NaN
3            4.6         3.1          1.5          0.2     Setosa
4              5         3.6          1.4          0.2     Setosa
..           ...         ...          ...          ...        ...
145          6.7         3.4          5.2          2.3  Virginica
146          6.3         3.4            5          1.9  Virginica
147          6.5         3.4          5.2          2.0  Virginica
148          6.2         3.4          5.4          2.3  Virginica
149          5.9           /          5.1          1.8  Virginica

[150 rows x 5 columns]

In [100]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  146 non-null    object
 1   sepal.width   149 non-null    object
 2   petal.length  148 non-null    object
 3   petal.width   149 non-null    float64
 4   variety       148 non-null    object
dtypes: float64(1), object(4)
memory usage: 6.0+ KB

In [101]:
data.describe(include='all')

       sepal.length sepal.width petal.length  petal.width     variety
count           146         149          148   149.000000         148
unique           37          26           45          NaN           3
top             5.1         3.4          1.4          NaN  Versicolor
freq              9          23           13          NaN          50
mean            NaN         NaN          NaN     1.206040         NaN
std             NaN         NaN          NaN     0.760354         NaN
min             NaN         NaN          NaN     0.100000         NaN
25%             NaN         NaN          NaN     0.300000         NaN
50%             NaN         NaN          NaN     1.300000         NaN
75%             NaN         NaN          NaN     1.800000         NaN
max             NaN         NaN          NaN     2.500000         NaN

In [102]:
a= set()
for i in data:
    for j in data[i]:
        print(i ,  '  ' , j ,'  ', type(j) )

sepal.length    5.1    <class 'str'>
sepal.length    nan    <class 'float'>
sepal.length    nan    <class 'float'>
sepal.length    4.6    <class 'str'>
sepal.length    5    <class 'str'>
sepal.length    5.4    <class 'str'>
sepal.length    4.6    <class 'str'>
sepal.length    5    <class 'str'>
sepal.length    4.4    <class 'str'>
sepal.length    4.9    <class 'str'>
sepal.length    5.4    <class 'str'>
sepal.length    nan    <class 'float'>
sepal.length    4.8    <class 'str'>
sepal.length    4.3    <class 'str'>
sepal.length    5.8    <class 'str'>
sepal.length    5.7    <class 'str'>
sepal.length    5.4    <class 'str'>
sepal.length    5.1    <class 'str'>
sepal.length    5.7    <class 'str'>
sepal.length    5.1    <class 'str'>
sepal.length    5.4    <class 'str'>
sepal.length    5.1    <class 'str'>
sepal.length    4.6    <class 'str'>
sepal.length    5.1    <class 'str'>
sepal.length    4.8    <class 'str'>
sepal.length    5    <class 'str'>
sepal.length    nan    <class 'float'>
sepal.length    5.2    <class 'str'>
sepal.length    5.2    <class 'str'>
sepal.length    4.7    <class 'str'>
sepal.length    4.8    <class 'str'>
sepal.length    5.4    <class 'str'>
sepal.length    5.2    <class 'str'>
sepal.length    5.5    <class 'str'>
sepal.length    4.9    <class 'str'>
sepal.length    5    <class 'str'>
sepal.length    5.5    <class 'str'>
sepal.length    4.9    <class 'str'>
sepal.length    4.4    <class 'str'>
sepal.length    5.1    <class 'str'>
sepal.length    5    <class 'str'>
sepal.length    4.5    <class 'str'>
sepal.length    4.4    <class 'str'>
sepal.length    5    <class 'str'>
sepal.length    5.1    <class 'str'>
sepal.length    4.8    <class 'str'>
sepal.length    5.1    <class 'str'>
sepal.length    4.6    <class 'str'>
sepal.length    5.3    <class 'str'>
sepal.length    5    <class 'str'>
sepal.length    7    <class 'str'>
sepal.length    6.4    <class 'str'>
sepal.length    6.9    <class 'str'>
sepal.length    5.5    <class 'str'>
sepal.length    6.5    <class 'str'>
sepal.length    5.7    <class 'str'>
sepal.length    6.3    <class 'str'>
sepal.length    4.9    <class 'str'>
sepal.length    6.6    <class 'str'>
sepal.length    5.2    <class 'str'>
sepal.length    5    <class 'str'>
sepal.length    5.9    <class 'str'>
sepal.length    6    <class 'str'>
sepal.length    6.1    <class 'str'>
sepal.length    5.6    <class 'str'>
sepal.length    6.7    <class 'str'>
sepal.length    5.6    <class 'str'>
sepal.length    5.8    <class 'str'>
sepal.length    6.2    <class 'str'>
sepal.length    5.6    <class 'str'>
sepal.length    5.9    <class 'str'>
sepal.length    6.1    <class 'str'>
sepal.length    6.3    <class 'str'>
sepal.length    6.1    <class 'str'>
sepal.length    6.4    <class 'str'>
sepal.length    6.6    <class 'str'>
sepal.length    6.8    <class 'str'>
sepal.length    6.7    <class 'str'>
sepal.length    6    <class 'str'>
sepal.length    5.7    <class 'str'>
sepal.length    5.5    <class 'str'>
sepal.length    5.5    <class 'str'>
sepal.length    5.8    <class 'str'>
sepal.length    6    <class 'str'>
sepal.length    5.4    <class 'str'>
sepal.length    6    <class 'str'>
sepal.length    6.7    <class 'str'>
sepal.length    6.3    <class 'str'>
sepal.length    5.6    <class 'str'>
sepal.length    5.5    <class 'str'>
sepal.length    5.5    <class 'str'>
sepal.length    6.1    <class 'str'>
sepal.length    5.8    <class 'str'>
sepal.length    5    <class 'str'>
sepal.length    5.6    <class 'str'>
sepal.length    5.7    <class 'str'>
sepal.length    5.7    <class 'str'>
sepal.length    6.2    <class 'str'>
sepal.length    5.1    <class 'str'>
sepal.length    5.7    <class 'str'>
sepal.length    6.3    <class 'str'>
sepal.length    5.8    <class 'str'>
sepal.length    7.1    <class 'str'>
sepal.length    6.3    <class 'str'>
sepal.length    6.5    <class 'str'>
sepal.length    7.6    <class 'str'>
sepal.length    4.9    <class 'str'>
sepal.length    7.3    <class 'str'>
sepal.length    6.7    <class 'str'>
sepal.length    7.2    <class 'str'>
sepal.length    6.5    <class 'str'>
sepal.length    6.4    <class 'str'>
sepal.length    6.8    <class 'str'>
sepal.length    5.7    <class 'str'>
sepal.length    5.8    <class 'str'>
sepal.length    6.4    <class 'str'>
sepal.length    6.5    <class 'str'>
sepal.length    7.7    <class 'str'>
sepal.length    7.7    <class 'str'>
sepal.length    6    <class 'str'>
sepal.length    6.9    <class 'str'>
sepal.length    5.6    <class 'str'>
sepal.length    7.7    <class 'str'>
sepal.length    6.3    <class 'str'>
sepal.length    6.7    <class 'str'>
sepal.length    7.2    <class 'str'>
sepal.length    6.2    <class 'str'>
sepal.length    6.1    <class 'str'>
sepal.length    6.4    <class 'str'>
sepal.length    7.2    <class 'str'>
sepal.length    7.4    <class 'str'>
sepal.length    7.9    <class 'str'>
sepal.length    6.4    <class 'str'>
sepal.length    6.3    <class 'str'>
sepal.length    6.1    <class 'str'>
sepal.length    7.7    <class 'str'>
sepal.length    6.3    <class 'str'>
sepal.length    6.4    <class 'str'>
sepal.length    6    <class 'str'>
sepal.length    6.9    <class 'str'>
sepal.length    )    <class 'str'>
sepal.length    6.9    <class 'str'>
sepal.length    5.8    <class 'str'>
sepal.length    6.8    <class 'str'>
sepal.length    V    <class 'str'>
sepal.length    6.7    <class 'str'>
sepal.length    6.3    <class 'str'>
sepal.length    6.5    <class 'str'>
sepal.length    6.2    <class 'str'>
sepal.length    5.9    <class 'str'>
sepal.width    3.5    <class 'str'>
sepal.width    3    <class 'str'>
sepal.width    nan    <class 'float'>
sepal.width    3.1    <class 'str'>
sepal.width    3.6    <class 'str'>
sepal.width    3.9    <class 'str'>
sepal.width    3.4    <class 'str'>
sepal.width    3.4    <class 'str'>
sepal.width    2.9    <class 'str'>
sepal.width    3.1    <class 'str'>
sepal.width    3.7    <class 'str'>
sepal.width    3.4    <class 'str'>
sepal.width    0    <class 'str'>
sepal.width    3    <class 'str'>
sepal.width    4    <class 'str'>
sepal.width    4.4    <class 'str'>
sepal.width    3.9    <class 'str'>
sepal.width    3.5    <class 'str'>
sepal.width    3.8    <class 'str'>
sepal.width    3.8    <class 'str'>
sepal.width    3.4    <class 'str'>
sepal.width    3.7    <class 'str'>
sepal.width    3.6    <class 'str'>
sepal.width    3.3    <class 'str'>
sepal.width    3.4    <class 'str'>
sepal.width    3    <class 'str'>
sepal.width    3.4    <class 'str'>
sepal.width    3.5    <class 'str'>
sepal.width    3.4    <class 'str'>
sepal.width    3.2    <class 'str'>
sepal.width    3.1    <class 'str'>
sepal.width    3.4    <class 'str'>
sepal.width    4.1    <class 'str'>
sepal.width    4.2    <class 'str'>
sepal.width    3.1    <class 'str'>
sepal.width    3.2    <class 'str'>
sepal.width    3.5    <class 'str'>
sepal.width    3.6    <class 'str'>
sepal.width    3    <class 'str'>
sepal.width    3.4    <class 'str'>
sepal.width    3.5    <class 'str'>
sepal.width    @    <class 'str'>
sepal.width    3.2    <class 'str'>
sepal.width    3.5    <class 'str'>
sepal.width    3.8    <class 'str'>
sepal.width    3    <class 'str'>
sepal.width    3.8    <class 'str'>
sepal.width    3.2    <class 'str'>
sepal.width    3.7    <class 'str'>
sepal.width    3.3    <class 'str'>
sepal.width    3.2    <class 'str'>
sepal.width    3.2    <class 'str'>
sepal.width    3.1    <class 'str'>
sepal.width    2.3    <class 'str'>
sepal.width    2.8    <class 'str'>
sepal.width    2.8    <class 'str'>
sepal.width    3.3    <class 'str'>
sepal.width    2.4    <class 'str'>
sepal.width    2.9    <class 'str'>
sepal.width    2.7    <class 'str'>
sepal.width    2    <class 'str'>
sepal.width    3    <class 'str'>
sepal.width    2.2    <class 'str'>
sepal.width    2.9    <class 'str'>
sepal.width    2.9    <class 'str'>
sepal.width    3.1    <class 'str'>
sepal.width    3    <class 'str'>
sepal.width    2.7    <class 'str'>
sepal.width    2.2    <class 'str'>
sepal.width    2.5    <class 'str'>
sepal.width    3.2    <class 'str'>
sepal.width    2.8    <class 'str'>
sepal.width    2.5    <class 'str'>
sepal.width    2.8    <class 'str'>
sepal.width    2.9    <class 'str'>
sepal.width    3    <class 'str'>
sepal.width    2.8    <class 'str'>
sepal.width    3    <class 'str'>
sepal.width    2.9    <class 'str'>
sepal.width    2.6    <class 'str'>
sepal.width    2.4    <class 'str'>
sepal.width    2.4    <class 'str'>
sepal.width    2.7    <class 'str'>
sepal.width    2.7    <class 'str'>
sepal.width    3    <class 'str'>
sepal.width    3.4    <class 'str'>
sepal.width    3.1    <class 'str'>
sepal.width    2.3    <class 'str'>
sepal.width    3    <class 'str'>
sepal.width    2.5    <class 'str'>
sepal.width    2.6    <class 'str'>
sepal.width    3    <class 'str'>
sepal.width    2.6    <class 'str'>
sepal.width    2.3    <class 'str'>
sepal.width    2.7    <class 'str'>
sepal.width    3    <class 'str'>
sepal.width    2.9    <class 'str'>
sepal.width    2.9    <class 'str'>
sepal.width    2.5    <class 'str'>
sepal.width    2.8    <class 'str'>
sepal.width    3.3    <class 'str'>
sepal.width    2.7    <class 'str'>
sepal.width    3    <class 'str'>
sepal.width    2.9    <class 'str'>
sepal.width    3    <class 'str'>
sepal.width    3    <class 'str'>
sepal.width    2.5    <class 'str'>
sepal.width    2.9    <class 'str'>
sepal.width    2.5    <class 'str'>
sepal.width    3.6    <class 'str'>
sepal.width    3.2    <class 'str'>
sepal.width    2.7    <class 'str'>
sepal.width    3    <class 'str'>
sepal.width    2.5    <class 'str'>
sepal.width    2.8    <class 'str'>
sepal.width    3.2    <class 'str'>
sepal.width    3    <class 'str'>
sepal.width    3.8    <class 'str'>
sepal.width    2.6    <class 'str'>
sepal.width    2.2    <class 'str'>
sepal.width    3.2    <class 'str'>
sepal.width    2.8    <class 'str'>
sepal.width    2.8    <class 'str'>
sepal.width    2.7    <class 'str'>
sepal.width    3.3    <class 'str'>
sepal.width    3.2    <class 'str'>
sepal.width    2.8    <class 'str'>
sepal.width    3    <class 'str'>
sepal.width    2.8    <class 'str'>
sepal.width    3    <class 'str'>
sepal.width    2.8    <class 'str'>
sepal.width    3.8    <class 'str'>
sepal.width    2.8    <class 'str'>
sepal.width    2.8    <class 'str'>
sepal.width    2.6    <class 'str'>
sepal.width    3    <class 'str'>
sepal.width    3.4    <class 'str'>
sepal.width    3.4    <class 'str'>
sepal.width    3.4    <class 'str'>
sepal.width    3.4    <class 'str'>
sepal.width    3.4    <class 'str'>
sepal.width    3.4    <class 'str'>
sepal.width    3.4    <class 'str'>
sepal.width    3.4    <class 'str'>
sepal.width    3.4    <class 'str'>
sepal.width    3.4    <class 'str'>
sepal.width    3.4    <class 'str'>
sepal.width    3.4    <class 'str'>
sepal.width    3.4    <class 'str'>
sepal.width    /    <class 'str'>
petal.length    1.4    <class 'str'>
petal.length    1.4    <class 'str'>
petal.length    nan    <class 'float'>
petal.length    1.5    <class 'str'>
petal.length    1.4    <class 'str'>
petal.length    nan    <class 'float'>
petal.length    1.4    <class 'str'>
petal.length    1.5    <class 'str'>
petal.length    1.4    <class 'str'>
petal.length    1.5    <class 'str'>
petal.length    1.5    <class 'str'>
petal.length    1.6    <class 'str'>
petal.length    1.4    <class 'str'>
petal.length    1.1    <class 'str'>
petal.length    1.2    <class 'str'>
petal.length    1.5    <class 'str'>
petal.length    1.3    <class 'str'>
petal.length    1.4    <class 'str'>
petal.length    1.7    <class 'str'>
petal.length    1.5    <class 'str'>
petal.length    1.7    <class 'str'>
petal.length    1.5    <class 'str'>
petal.length    1    <class 'str'>
petal.length    1.7    <class 'str'>
petal.length    1.9    <class 'str'>
petal.length    1.6    <class 'str'>
petal.length    1.6    <class 'str'>
petal.length    1.5    <class 'str'>
petal.length    1.4    <class 'str'>
petal.length    1.6    <class 'str'>
petal.length    1.6    <class 'str'>
petal.length    1.5    <class 'str'>
petal.length    1.5    <class 'str'>
petal.length    1.4    <class 'str'>
petal.length    1.5    <class 'str'>
petal.length    1.2    <class 'str'>
petal.length    1.3    <class 'str'>
petal.length    1.4    <class 'str'>
petal.length    1.3    <class 'str'>
petal.length    1.5    <class 'str'>
petal.length    1.3    <class 'str'>
petal.length    1.3    <class 'str'>
petal.length    1.3    <class 'str'>
petal.length    1.6    <class 'str'>
petal.length    1.9    <class 'str'>
petal.length    1.4    <class 'str'>
petal.length    1.6    <class 'str'>
petal.length    1.4    <class 'str'>
petal.length    1.5    <class 'str'>
petal.length    1.4    <class 'str'>
petal.length    4.7    <class 'str'>
petal.length    4.5    <class 'str'>
petal.length    4.9    <class 'str'>
petal.length    4    <class 'str'>
petal.length    4.6    <class 'str'>
petal.length    4.5    <class 'str'>
petal.length    4.7    <class 'str'>
petal.length    3.3    <class 'str'>
petal.length    4.6    <class 'str'>
petal.length    3.9    <class 'str'>
petal.length    3.5    <class 'str'>
petal.length    4.2    <class 'str'>
petal.length    4    <class 'str'>
petal.length    4.7    <class 'str'>
petal.length    3.6    <class 'str'>
petal.length    4.4    <class 'str'>
petal.length    4.5    <class 'str'>
petal.length    4.1    <class 'str'>
petal.length    4.5    <class 'str'>
petal.length    3.9    <class 'str'>
petal.length    4.8    <class 'str'>
petal.length    4    <class 'str'>
petal.length    4.9    <class 'str'>
petal.length    4.7    <class 'str'>
petal.length    4.3    <class 'str'>
petal.length    4.4    <class 'str'>
petal.length    4.8    <class 'str'>
petal.length    5    <class 'str'>
petal.length    4.5    <class 'str'>
petal.length    3.5    <class 'str'>
petal.length    3.8    <class 'str'>
petal.length    3.7    <class 'str'>
petal.length    3.9    <class 'str'>
petal.length    5.1    <class 'str'>
petal.length    4.5    <class 'str'>
petal.length    4.5    <class 'str'>
petal.length    4.7    <class 'str'>
petal.length    4.4    <class 'str'>
petal.length    4.1    <class 'str'>
petal.length    4    <class 'str'>
petal.length    4.4    <class 'str'>
petal.length    4.6    <class 'str'>
petal.length    4    <class 'str'>
petal.length    3.3    <class 'str'>
petal.length    4.2    <class 'str'>
petal.length    4.2    <class 'str'>
petal.length    4.2    <class 'str'>
petal.length    4.3    <class 'str'>
petal.length    3    <class 'str'>
petal.length    4.1    <class 'str'>
petal.length    6    <class 'str'>
petal.length    5.1    <class 'str'>
petal.length    5.9    <class 'str'>
petal.length    5.6    <class 'str'>
petal.length    5.8    <class 'str'>
petal.length    6.6    <class 'str'>
petal.length    4.5    <class 'str'>
petal.length    6.3    <class 'str'>
petal.length    5.8    <class 'str'>
petal.length    6.1    <class 'str'>
petal.length    5.1    <class 'str'>
petal.length    5.3    <class 'str'>
petal.length    5.5    <class 'str'>
petal.length    5    <class 'str'>
petal.length    5.1    <class 'str'>
petal.length    5.3    <class 'str'>
petal.length    5.5    <class 'str'>
petal.length    6.7    <class 'str'>
petal.length    6.9    <class 'str'>
petal.length    5    <class 'str'>
petal.length    5.7    <class 'str'>
petal.length    4.9    <class 'str'>
petal.length    6.7    <class 'str'>
petal.length    4.9    <class 'str'>
petal.length    5.7    <class 'str'>
petal.length    6    <class 'str'>
petal.length    4.8    <class 'str'>
petal.length    4.9    <class 'str'>
petal.length    5.6    <class 'str'>
petal.length    5.8    <class 'str'>
petal.length    6.1    <class 'str'>
petal.length    6.4    <class 'str'>
petal.length    5.6    <class 'str'>
petal.length    5.1    <class 'str'>
petal.length    5.6    <class 'str'>
petal.length    6.1    <class 'str'>
petal.length    *    <class 'str'>
petal.length    5.5    <class 'str'>
petal.length    4.8    <class 'str'>
petal.length    5.4    <class 'str'>
petal.length    5.6    <class 'str'>
petal.length    s    <class 'str'>
petal.length    5.1    <class 'str'>
petal.length    5.9    <class 'str'>
petal.length    5.7    <class 'str'>
petal.length    5.2    <class 'str'>
petal.length    5    <class 'str'>
petal.length    5.2    <class 'str'>
petal.length    5.4    <class 'str'>
petal.length    5.1    <class 'str'>
petal.width    0.2    <class 'float'>
petal.width    0.2    <class 'float'>
petal.width    nan    <class 'float'>
petal.width    0.2    <class 'float'>
petal.width    0.2    <class 'float'>
petal.width    0.4    <class 'float'>
petal.width    0.3    <class 'float'>
petal.width    0.2    <class 'float'>
petal.width    0.2    <class 'float'>
petal.width    0.1    <class 'float'>
petal.width    0.2    <class 'float'>
petal.width    0.2    <class 'float'>
petal.width    0.1    <class 'float'>
petal.width    0.1    <class 'float'>
petal.width    0.2    <class 'float'>
petal.width    0.4    <class 'float'>
petal.width    0.4    <class 'float'>
petal.width    0.3    <class 'float'>
petal.width    0.3    <class 'float'>
petal.width    0.3    <class 'float'>
petal.width    0.2    <class 'float'>
petal.width    0.4    <class 'float'>
petal.width    0.2    <class 'float'>
petal.width    0.5    <class 'float'>
petal.width    0.2    <class 'float'>
petal.width    0.2    <class 'float'>
petal.width    0.4    <class 'float'>
petal.width    0.2    <class 'float'>
petal.width    0.2    <class 'float'>
petal.width    0.2    <class 'float'>
petal.width    0.2    <class 'float'>
petal.width    0.4    <class 'float'>
petal.width    0.1    <class 'float'>
petal.width    0.2    <class 'float'>
petal.width    0.2    <class 'float'>
petal.width    0.2    <class 'float'>
petal.width    0.2    <class 'float'>
petal.width    0.1    <class 'float'>
petal.width    0.2    <class 'float'>
petal.width    0.2    <class 'float'>
petal.width    0.3    <class 'float'>
petal.width    0.3    <class 'float'>
petal.width    0.2    <class 'float'>
petal.width    0.6    <class 'float'>
petal.width    0.4    <class 'float'>
petal.width    0.3    <class 'float'>
petal.width    0.2    <class 'float'>
petal.width    0.2    <class 'float'>
petal.width    0.2    <class 'float'>
petal.width    0.2    <class 'float'>
petal.width    1.4    <class 'float'>
petal.width    1.5    <class 'float'>
petal.width    1.5    <class 'float'>
petal.width    1.3    <class 'float'>
petal.width    1.5    <class 'float'>
petal.width    1.3    <class 'float'>
petal.width    1.6    <class 'float'>
petal.width    1.0    <class 'float'>
petal.width    1.3    <class 'float'>
petal.width    1.4    <class 'float'>
petal.width    1.0    <class 'float'>
petal.width    1.5    <class 'float'>
petal.width    1.0    <class 'float'>
petal.width    1.4    <class 'float'>
petal.width    1.3    <class 'float'>
petal.width    1.4    <class 'float'>
petal.width    1.5    <class 'float'>
petal.width    1.0    <class 'float'>
petal.width    1.5    <class 'float'>
petal.width    1.1    <class 'float'>
petal.width    1.8    <class 'float'>
petal.width    1.3    <class 'float'>
petal.width    1.5    <class 'float'>
petal.width    1.2    <class 'float'>
petal.width    1.3    <class 'float'>
petal.width    1.4    <class 'float'>
petal.width    1.4    <class 'float'>
petal.width    1.7    <class 'float'>
petal.width    1.5    <class 'float'>
petal.width    1.0    <class 'float'>
petal.width    1.1    <class 'float'>
petal.width    1.0    <class 'float'>
petal.width    1.2    <class 'float'>
petal.width    1.6    <class 'float'>
petal.width    1.5    <class 'float'>
petal.width    1.6    <class 'float'>
petal.width    1.5    <class 'float'>
petal.width    1.3    <class 'float'>
petal.width    1.3    <class 'float'>
petal.width    1.3    <class 'float'>
petal.width    1.2    <class 'float'>
petal.width    1.4    <class 'float'>
petal.width    1.2    <class 'float'>
petal.width    1.0    <class 'float'>

In [103]:
a=['1.1','bb','78','s']

In [104]:
for i in a:
    print(float(i))

1.1

ValueError: could not convert string to float: 'bb'

In [105]:
def checker(i):
    try :
        float(i)
        return True
    except:
        return(i)

In [106]:
for i in a:
    print(checker(i))

True
bb
True
s

In [107]:
data

    sepal.length sepal.width petal.length  petal.width    variety
0            5.1         3.5          1.4          0.2     Setosa
1            NaN           3          1.4          0.2     Setosa
2            NaN         NaN          NaN          NaN        NaN
3            4.6         3.1          1.5          0.2     Setosa
4              5         3.6          1.4          0.2     Setosa
..           ...         ...          ...          ...        ...
145          6.7         3.4          5.2          2.3  Virginica
146          6.3         3.4            5          1.9  Virginica
147          6.5         3.4          5.2          2.0  Virginica
148          6.2         3.4          5.4          2.3  Virginica
149          5.9           /          5.1          1.8  Virginica

[150 rows x 5 columns]

In [108]:
a= set()
for i in data:
    for j in data[i]:
        a.add(checker(j))
a

{')', '*', '/', '@', 'Setosa', True, 'V', 'Versicolor', 'Virginica', 's'}

In [93]:
missdata= ['@', '/', 'V', 's', ')', '*']

In [109]:
data = pd.read_csv('iris.csv',na_values=missdata)

In [110]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  144 non-null    float64
 1   sepal.width   147 non-null    float64
 2   petal.length  146 non-null    float64
 3   petal.width   149 non-null    float64
 4   variety       148 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [111]:
data.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    144.000000   147.000000    146.000000   149.000000
mean       5.859028     3.070748      3.767123     1.206040
std        0.822193     0.508720      1.759393     0.760354
min        4.300000     0.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.400000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000